@media (max-width:768px){
html{
   height: 6000px;
}
body{
   font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background: #000000;
}
a{
   text-decoration: none;
}
.first-nav{
   display: flex;
   justify-content: space-between;
   padding: 15px ;
   position: sticky;
   top: 0;
   left: 0;
   height: 35px;
   background: #fff;
   overflow: hidden;
}
.first-nav .logo{
   margin: 10px;
   margin-top: -4px;
}

.first-nav .logo span{
   font-size: 33px;
   font-weight: 900;
   letter-spacing: 2px;
   color: #1053d8;
}
.first-nav .icons{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 10px;
}
.first-nav .icons div{
   background: #e4e6eb;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 18px;
   margin-top: 8px;
}
.first-nav .icons div i{
   color: #000;
}










}